<div class="row">
  <div class="col-12">
    <a [routerLink]="['/user/create']">Skapa användare</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Förnamn</th>
            <th>Efternamn</th>
            <th>Födelsedatum</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.dateOfBirth | date: 'yyyy/MM/dd'}}</td>
            <td>
              <button type="button" id="details" class="btn btn-default"
                (click)="getUserDetails(user.id)">Detaljer</button>
            </td>
            <td><button type="button" id="update" class="btn btn-success"
                (click)="redirectToUpdatePage(user.id)">Uppdatera</button>
            </td>
            <td>
              <button type="button" id="delete" class="btn btn-danger"
                (click)="redirectToDeletePage(user.id)">Radera</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
