<div class="well mt-3">
  <div class="row">
    <div class="col-md-3">
      <strong>First name:</strong>
    </div>
    <div class="col-md-3">
      {{user?.firstname}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Last name:</strong>
    </div>
    <div class="col-md-3">
      {{user?.lastname}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Date of birth:</strong>
    </div>
    <div class="col-md-3">
      {{user?.dateOfBirth | date: 'yyyy/MM/dd'}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Username:</strong>
    </div>
    <div class="col-md-3">
      {{user?.username}}
    </div>
  </div>
</div>
<app-user-tasks [tasks] ="user?.tasks"></app-user-tasks>
