<div class="row">
  <div class="col-lg-6">
    <div class="card mt-2 ml-1">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <strong>Förnamn:</strong>
          </div>
          <div class="col-md-8">
            {{user?.firstname}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <strong>Efternamn:</strong>
          </div>
          <div class="col-md-8">
            {{user?.lastname}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <strong>Födelsedatum:</strong>
          </div>
          <div class="col-md-8">
            {{user?.dateOfBirth | date: 'yyyy/MM/dd'}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <strong>Användarnamn:</strong>
          </div>
          <div class="col-md-8">
            {{user?.username}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <strong>Lösenord:</strong>
          </div>
          <div class="col-md-8">
            {{user?.password}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-user-tasks [tasks]="user?.tasks"></app-user-tasks>
