<div class="container-fluid">
  <form [formGroup]="userForm" autocomplete="off" novalidate (ngSubmit)="createUser(userForm.value)">
      <div class="row">
          <div class="col-md-6">
            <div class="card mt-2">
              <div class="card-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <label for="firstname" class="control-label">Förnamn </label>
                    <input type="text" formControlName="firstname" id="firstname" class="form-control" />
                    <em *ngIf="validateControl('firstname') && hasError('firstname', 'required')">Du måste ange ett förnamn</em>
                    <em *ngIf="validateControl('firstname') && hasError('firstname', 'maxlength')">Max längd 45 tecken.</em>
                    <em *ngIf="validateControl('firstname') && hasError('firstname', 'minlength')">Min längd 1 tecken.</em>
                  </div>

                  <div class="form-group">
                    <label for="lastname" class="control-label">Efternamn </label>
                    <input type="text" formControlName="lastname" id="lastname" class="form-control" />
                    <em *ngIf="validateControl('lastname') && hasError('lastname', 'required')">Du måste ange ett efternamn</em>
                    <em *ngIf="validateControl('lastname') && hasError('lastname', 'maxlength')">Max längd 45 tecken.</em>
                    <em *ngIf="validateControl('lastname') && hasError('lastname', 'minlength')">Min längd 1 tecken.</em>
                  </div>

                  <div class="form-group">
                    <label for="dateOfBirth" class="control-label">Födelsedatum </label>
                    <input type="text" formControlName="dateOfBirth" id="dateOfBirth" class="form-control" appDatepicker
                      (change)="executeDatePicker($event)" readonly />
                    <em *ngIf="validateControl('dateOfBirth') && hasError('dateOfBirth', 'required')">Du måste ange födelsedatum</em>
                  </div>

                  <div class="form-group">
                    <label for="lastname" class="control-label">Användarnamn </label>
                    <input type="text" formControlName="username" id="username" class="form-control" />
                    <em *ngIf="validateControl('username') && hasError('username', 'required')">Du måste ange användarnamn</em>
                    <em *ngIf="validateControl('username') && hasError('username', 'maxlength')">Max längd 30 tecken.</em>
                    <em *ngIf="validateControl('username') && hasError('username', 'minlength')">Min längd 1 tecken</em>
                  </div>

                  <br><br>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-3 offset-lg-4 col-md-4 offset-md-2">
                          <button type="button" class="btn btn-block btn-default" (click)="redirectToUserList()">Avbryt</button>
                      </div>
                      <div class="col-lg-5 col-md-6">
                          <button type="submit" class="btn btn-block btn-success" [disabled]="!userForm.valid">Spara</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
  </form>

  <app-success-modal [modalHeaderText]="''" [modalBodyText]="'Ny användare har skapats!'"
    [okButtonText]="'OK'" (redirectOnOK)="redirectToUserList()"></app-success-modal>

  <app-error-modal [modalHeaderText]="'Ett fel uppstod'" [modalBodyText]="errorMessage" [okButtonText]="'OK'">
  </app-error-modal>

</div>
