<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 well">
      <div class="row">
        <div class="col-3">
          <label for="firstName" class="control-label font-weight-bold">First name:</label>
        </div>
        <div class="col-7">
          <span name="firstName">
            {{user?.firstname}}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <label for="lastname" class="control-label font-weight-bold">Last name:</label>
        </div>
        <div class="col-7">
          <span name="lastname">
            {{user?.lastname}}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <label for="age" class="control-label font-weight-bold">Date of birth:</label>
        </div>
        <div class="col-7">
          <span name="age">
            {{user?.dateOfBirth | date: 'yyyy/MM/dd'}}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <label for="age" class="control-label font-weight-bold">Username:</label>
        </div>
        <div class="col-7">
          <span name="age">
            {{user?.username}}
          </span>
        </div>
      </div>

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5 col mb-1">
      <button type="submit" class="btn btn-block btn-info" (click)="deleteUser()">Delete</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <button type="button" class="btn btn-block btn-danger" (click)="redirectToUserList()">Cancel</button>
    </div>
  </div>

  <app-success-modal [modalHeaderText]="'Success message'" [modalBodyText]="'User was deleted successfully'"
    [okButtonText]="'OK'" (redirectOnOK)="redirectToUserList()"></app-success-modal>

  <app-error-modal [modalHeaderText]="'Error message'" [modalBodyText]="errorMessage" [okButtonText]="'OK'">
  </app-error-modal>
</div>
