<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 well">
      <div class="row">
        <div class="col-md-3">
          <label for="firstName" class="control-label">User first name:</label>
        </div>
        <div class="col-md-7">
          <span name="firstName">
            {{user?.firstname}}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label for="lastname" class="control-label">User last name:</label>
        </div>
        <div class="col-md-7">
          <span name="lastname">
            {{user?.lastname}}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label for="age" class="control-label">Age:</label>
        </div>
        <div class="col-md-7">
          <span name="age">
            {{user?.age}}
          </span>
        </div>
      </div>

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-offset-8 col-md-1">
      <button type="submit" class="btn btn-info" (click)="deleteUser()">Delete</button>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-danger" (click)="redirectToUserList()">Cancel</button>
    </div>
  </div>

  <app-success-modal [modalHeaderText]="'Success message'" [modalBodyText]="'User was deleted successfully'"
    [okButtonText]="'OK'" (redirectOnOK)="redirectToUserList()"></app-success-modal>

  <app-error-modal [modalHeaderText]="'Error message'" [modalBodyText]="errorMessage" [okButtonText]="'OK'">
  </app-error-modal>
</div>
