<div class="container-fluid">
  <form [formGroup]="userForm" autocomplete="off" novalidate (ngSubmit)="updateUser(userForm.value)">
    <div class="form-horizontal well">

      <div class="form-group">
        <label for="firstName" class="control-label col-md-2">Name of the owner: </label>
        <div class="col-md-5">
          <input type="text" formControlName="firstName" id="firstName" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('firstName') && hasError('firstName', 'required')">First name is required</em>
          <em *ngIf="validateControl('firstName') && hasError('firstName', 'maxlength')">Maximum allowed length is 45
            characters.</em>
          <em *ngIf="validateControl('firstName') && hasError('firstName', 'minlength')">Minimum allowed length is 1
            character.</em>
        </div>
      </div>

      <div class="form-group">
        <label for="lastName" class="control-label col-md-2">Name of the owner: </label>
        <div class="col-md-5">
          <input type="text" formControlName="lastName" id="lastName" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('lastName') && hasError('lastName', 'required')">Last name is required</em>
          <em *ngIf="validateControl('lastName') && hasError('lastName', 'maxlength')">Maximum allowed length is 45
            characters.</em>
          <em *ngIf="validateControl('lastName') && hasError('lastName', 'minlength')">Minimum allowed length is 1
            character.</em>
        </div>
      </div>

      <div class="form-group">
        <label for="age" class="control-label col-md-2">Name of the owner: </label>
        <div class="col-md-5">
          <input type="text" formControlName="age" id="age" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('age') && hasError('age', 'required')">Age is required</em>
          <em *ngIf="validateControl('age') && hasError('age', 'maxlength')">Maximum allowed length is 3 numbers.</em>
          <em *ngIf="validateControl('age') && hasError('age', 'minlength')">Minimum allowed length is 1 number. </em>
        </div>
      </div>

      <br><br>

      <div class="form-group">
        <div class="col-md-5 col mb-1">
          <button type="submit" class="btn btn-block btn-info" [disabled]="!userForm.valid">Save</button>
        </div>
        <div class="col-md-5">
          <button type="button" class="btn btn-block btn-danger" (click)="redirectToUserList()">Cancel</button>
        </div>
      </div>

    </div>
  </form>

  <app-success-modal [modalHeaderText]="'Success!'" [modalBodyText]="'User was updated successfully'"
    [okButtonText]="'OK'" (redirectOnOK)="redirectToUserList()"></app-success-modal>

  <app-error-modal [modalHeaderText]="'Error'" [modalBodyText]="errorMessage" [okButtonText]="'OK'">
  </app-error-modal>
</div>
